
.main {
    height: 80vh;
    background: rgb(33,59,121);
    background: linear-gradient(90deg, rgba(33,59,121,1) 2%, rgba(44,69,105,1) 96%);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 10px black;
    font-family: 'Lato', sans-serif;
}
.custom{
    position: absolute;
    top: 20%;
    right: 12%;
    z-index: 0;
}
.main::after{
    content: ' ';
    background: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.2;
}
.main .about{
    
    text-align: start;
    width: 30%;
    color: aliceblue;
    position: absolute;
    z-index: 0;
    left: 10%;
    bottom: 22%;

}
.icons{
    display: flex;
    font-size: 35px;
    color: aliceblue;
    margin-top: 10px;
    cursor: pointer;
}
.icon_item{
    margin-left: 13px;
}
.absolute_item1{
    align-items: center;
    display: flex;
    position: absolute;
    top:25%;
    right: 8%;
    background-color: aliceblue;
    border-radius: 12px;
    padding: 20px;
    z-index: 1;
}
.absolute_item2{
    align-items: center;
    display: flex;
    position: absolute;
    top:63%;
    right: 30%;
    background-color: aliceblue;
    border-radius: 12px;
    padding: 20px;
    z-index: 1;
}

@media only screen and (max-width: 800px) {
   .main .about{
       left: 5%;
       bottom: 10%;
       width: 40%;
   }
   .custom{
       position: absolute;
       right: 0;
       width: 100;
       height: 1100;
       bottom: 10%;
   }
   .absolute_item1,.absolute_item2{
       padding: 10px;
   }
   .absolute_item2{
    top: 51%;
    right: 21%;
   }
}