.form {
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
}

.left-side_inner {
    margin-top: 20px;
}

.contacts {
    margin-top: 40px;
}

.contacts {
    display: flex;
}

.f {
    display: flex;
    flex-flow: column;
    width: 600px;
}

.f input {
    padding: 20px;
    border: 0;
    border-bottom: 1px solid black;
    margin-top: 10px;
    width: 45%;
}

.f textarea {
    padding: 20px;
    border: 0;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

.i_submit {
    background: #273a59;
    color: aliceblue;
    font-size: 27px;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    .form {
        display: block;
        margin-top: 200px;
        text-align: center;
    }

    .ride-side {
        display: flex;
        justify-content: center;
    }

    .left-side_inner {
        margin-left: 30px;
    }
}